@model IEnumerable<GigHub.Models.Gig>

<h3>My upcoming Gigs</h3>
<hr />

@if (Model.Any())
{
    <ul class="gigs">
        @foreach (var gig in Model)
        {
            @*<li>@item.DateTime - @item.Artist.Name</li>*@
            <li>
                <div class="date">
                    <div class="month">
                        @string.Format("{0:MMM}", gig.DateTime)
                    </div>
                    <div class="day">
                        @string.Format("{0:dd}", gig.DateTime)
                    </div>
                </div>
                <div class="details">
                    <span class="artist">
                        @gig.Venue
                    </span>

                    <span class="genre">
                        @gig.Genre.Name
                    </span>
                    <div class="actions">                        
                        @*<a href="#">Edit</a>*@
                        @Html.ActionLink("Edit", "Edit", "Gigs", new { id = gig.Id}, null) | 
                        <a href="#" class="js-cancel-gig" 
                           data-gig-id="@gig.Id">Cancel</a>
                    </div>
                </div>
                <div>
                    <div class="day"></div>
                </div>
                <div class="details">
                    <span class="artist"></span>
                    <span class="genre"></span>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>No upcoming your gigs to display</p>
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.js-cancel-gig').click(function (e) {
                bootbox.confirm({
                    message: 'Are you sure that you want to delete this Gig?',
                    title: 'Confirm cancel Gig',
                    buttons: {
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        },
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        }                        
                    },
                    callback: function (result) {
                        bootbox.hideAll();
                        if (result)
                        {
                            var link = $(e.target);
                            $.ajax({
                                url: '/api/Gigs/' + link.attr('data-gig-id'),
                                method: "DELETE"

                            })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });
                            })
                            .fail(function (xhr, status, error) {
                                var err = eval("(" + xhr.responseText + ")");
                                alert("Something failed - " + err.Message)
                            })
                        }
                    }
                });  
            });
        });
    </script>
}