@model GigHub.ViewModels.GigFormViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Gigs</h2>

@using (Html.BeginForm("Save", "Gigs", "POST")) {

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "Please fix below errors")

    <label class = "alert alert-info">All fields are <strong>Required</strong></label>

    <div class="form-group">
        <fieldset>
            @Html.LabelFor(m => m.Venue)
            @Html.TextBoxFor(m => m.Venue, new { @class = "form-control", autofocus = "autofocus"})
            @Html.ValidationMessageFor(m => m.Venue)
        </fieldset>
    </div>

    <div class="form-group">
        <fieldset>
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "eg - 25/12/16" })
            @Html.ValidationMessageFor(m => m.Date)
        </fieldset>
    </div>

    <div class="form-group">
        <fieldset>
            @Html.LabelFor(m => m.Time)
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg - 01:45:00 PM" })
            @Html.ValidationMessageFor(m => m.Time)
        </fieldset>
    </div>

    <div class="form-group">
        <fieldset>
            @Html.LabelFor(m => m.GenreId)
            @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "--- Select Genre ---", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.GenreId)
        </fieldset>
    </div>
    @Html.HiddenFor(m => m.Id)
    <button class="btn btn-primary" type="submit">Save</button>
    <button class="btn btn-warning" type="reset">Reset</button>
}

@section scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}